.c-banner {
  position: relative;
  width: 100%;

  &__image {
    width: 100%;

    & img {
      width: 100%;
      position: relative;
    }
  }

  &__loading {
    position: absolute;
    width: auto !important;
    height: auto !important;
    top: 30% !important;
    left: 50% !important;
    ;
    transform: translateX(-50%) !important;
    z-index: 1;
  }

  &__logo {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    & img {
      width: 200px;
      //-webkit-filter: drop-shadow(1px 3px 5px #222);
      //filter: drop-shadow(1px 3px 5px #222);
    }
  }

  &__scroll {
    display: flex;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) rotate(270deg);
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    z-index: 2;

    & img {
      z-index: 2;
      transform: rotate(-180deg);
      width: 24px;
    }

  }

  .c-image {
    width: 100%;

    & iframe {
      z-index: 2;
    }
  }
}