.c-form{
    padding:75px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__info{
        width: 40%;
        &--direction{
            width: 600px;
            color: $primary-color;
            font-family: $primaryfont;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 32px;
            text-align: right;
            font-weight: 700;
        }        
    }
    &__contact{
        width: 40%;
    }
}
.c-input{

    &__text{
        padding:10px 0;
        input[type=text]{
            font: 300 20px $primaryfont;
            width: 100%;
            height: 50px;
            border: 0;
            border-bottom: 1px solid $primary-color;
        }
    }
    &__textarea{
        padding:10px 0;
        textarea{            
            font: 300 20px $primaryfont;
            width: 100%;
            height: 90px;
            border: 0;
            border-bottom: 1px solid $primary-color;
        }
    }
    &__submit{
        padding:10px 0;
        button{            
            height: 48px;
            width: 208px;
            font-size: 28px;            
            color: $primary-color;
            font-family: $primaryfont;
            background-color: #fff;
            transition: 0.4s all;
            cursor: pointer;
            border: 1px solid $primary-color;
            &:hover{
                background-color: $primary-color;
                color: #fff;    
                transition: 0.4s all;        
            }            
        }
    }
}