.c-info {
    display: flex;

    &__text {
        width: 40%;
        padding: 50px;
        color: $primary-color;

        &--title {
            font-size: 30px;
            font-family: $primaryfont;
            padding-bottom: 15px;

        }

        &--text {
            font-size: 16px;
            font-family: $secondary-font;
        }



    }

    &__image {
        display: inherit;
        width: 60%;
        
        img {
            height: 700px;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }

    }
}

.c-info.reverse {
    .c-info__text {
        padding: 50px 0px 50px 50px;
    }
}