@font-face {
    font-family: Garamond;
    src: url("../fonts/GaramondPremrPro.otf") format("opentype");
}

@font-face {
    font-family: GaramondMedium;
    src: url("../fonts/GaramondPremrPro-Med.otf") format("opentype");
}

@font-face {
    font-family: GaramondBold;
    font-weight: bold;
    src: url("../fonts/GaramondPremrPro-Bd.otf") format("opentype");
}

@font-face {
    font-family: NeutralBold;
    font-weight: bold;
    src: url("../fonts/NeutraText-Bold.otf") format("opentype");
}

@font-face {
    font-family: Neutral;
    src: url("../fonts/NeutraText-Book.otf") format("opentype");
}

@font-face {
    font-family: NeutralLight;
    font-weight: lighter;
    src: url("../fonts/NeutraText-Light.otf") format("opentype");
}

body {
    margin: 0;
}

$primary-color: #9e8b46;
$secondary-color: #231f20;
$white-color: #ffffff;
$primaryfont : 'Neutral';
$secondary-font:'Garamond';