{% put rwSeo %}
    <title>{{service.name}}</title>
    <meta name="description" content="{{service.description}}"/>
    <meta name="title" content="{{service.title}}"/>
    <meta name="keywords" content="keyword,otrakey"/>
    <meta property="og:title" content="{{service.title}}"/>
    <meta property="og:description" content="{{service.description}}"/>
    <meta property="og:image" content="{{service.img1.getPath()}}"/>
{% endput %}

<section class="c-banner relative w-full h-[50vh]">        
    <picture class="c-images c-images--background">    
            <img src="{{service.img1.getPath()}}">
    </picture>        
    <div class="container">
        <div class="absolute c-banner__title--inner">                
            <div class="text-64 font-medium text-white">
                {{service.title}}
            </div>
        </div>            
    </div>
</section>
<div class="c-service container">
    <div class="c-service__img">
        <img src="{{service.img1.getPath()}}">
    </div>
    <div class="c-service__info">
        <h1 class="c-service__title">{{service.title}}</h1>
        <div class="c-service__description">{{service.description }}</div> 
        <div class="c-service__form">
            <form action="POST" data-request="onSend" data-request-flash="">
                <div class="c-service__form--input">
                    <label for="name">{{'Nom i Llinatges*'|_}} </label>
                    <input type="text" name="name" id="name" placeholder="{{'Introdueix Nom i Llinatges*'|_}}">
                </div>
                <div class="c-service__form--input">
                    <label for="email">{{'Adreça electrònica*'|_}}</label>
                    <input required="" type="text" id="email" name="email" placeholder="{{'Introdueix la teva adreça electrònica*'|_}}">
                </div>
                <div class="c-service__form--input">
                    <label for="phone">{{'Telèfon*'|_}}</label>
                    <input required="" type="text" name="phone" id="phone" placeholder="{{'Introdueix el teu número de telèfon*'|_}}">
                </div>
                <div class="c-service__form--textarea">
                    <label for="text">{{'Estic interesat en aquest servei'|_}} - {{service.title}}</label>
                    <textarea name="text" id="text" placeholder="{{'Escriu el teu comentari o dubtes'|_}}"></textarea>
                </div>
                <div class="c-service__form--checkbox">
                    <input required="" type="checkbox">
                    <a class="hover:text-primary transition-all" href="{{'avis-legal'|page}}">
                        {{'Accept la política de privadesa i protecció de dades'|_}}
                    </a> 
                    </div>
                <button class="border border-primary px-16 py-8 hover:bg-primary hover:text-white transition-all" type="submit">{{'Enviar'|_}}</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center">
        <div class="text-32">
            <div>{{'Galeria de'|_}} {{service.title}}</div>
        </div>        
    </div>
</div>
<div class="c-service__galery container">
    {% for img in service.galery %}    
    <a class="c-service__galery--item" href="{{img.getPath()}}" data-lightbox="image-1" data-title="My caption">
        <img src="{{img.getPath()}}" alt="">
    </a>
    {% endfor %}    

</div>