<footer class="c-footer bg-primary/60">
    <div class="container grid grid-cols-3 py-24">
        <div class="c-footer__direction text-white text-24 flex flex-col justify-center">
            <div>C/Manacor,26 <br>Campos 07630</div>
            <div class="">
                <a class="hover:underline" href="tel:+34669695858"> Tel: 669 695 858</a>
            </div>
            <div class="">
                <a class="hover:underline" href="mailto:Sonperejaia@gmail.com"> Mail: Sonperejaia@gmail.com</a>
            </div>
        </div>
        
        <div class="c-footer__logo mx-auto">
            <img src="{{'assets/images/logo.svg'|theme}}" class="svg w-[200px] fill-white">
        </div>            
        <!-- <div class="c-footer__rrss flex items-center justify-center" >
            
        </div> -->
        <div class="c-footer__pages text-24 text-white text-center  flex flex-col justify-center">
            <div> <a href="" class="hover:underline"> Home</a></div>
            <div> <a href="" class="hover:underline"> Servicios</a></div>
            <div> <a href="" class="hover:underline"> Contacto</a></div>
            <div> <a href="" class="hover:underline"> Vino</a></div>
            <div> <a href="" class="hover:underline"> Galeria</a></div>
        </div>
    </div>
</footer>
<div class="container flex py-16 text-18 justify-between">
    <div class="flex">
        <div>
            © 2023 Son Pere Jaia
        </div>
        &nbsp; -- &nbsp; | &nbsp;
        <a href="#" class="hover:underline transition-all hover:bold">Avis Legal</a>
        &nbsp; | &nbsp;
        <a href="#" class="hover:underline transition-all hover:bold">Política de Privacitat</a>
        &nbsp; | &nbsp;
        <a href="#" class="hover:underline transition-all hover:bold">Política de Cookies</a>    
    </div>
    <div class="flex">
        <a href="#" class="mr-24">
            <img src="{{'assets/images/facebook.svg'|theme}}"  class="w-[20px] h-[20px] svg fill-black hover:fill-primary transition-all"  alt="Facebook">
        </a>
        <a href="#" class="mr-24">
            <img src="{{'assets/images/instagram.svg'|theme}}"  class="w-[20px] h-[20px] svg fill-black hover:fill-primary transition-all"  alt="Instagram">
        </a>
    </div>        
</div>