<div class="c-header fixed w-full">
    <div class="c-header__nav">
        <div class="flex justify-evenly items-center container">                
            <div data-toggle-class-item="menu" class="c-header__menu">
                <ul>
                    <li><a class="is-active" href="/">Home</a></li>
                    <li><a href="#">Finca</a></li>
                    <li><a href="/galeria">Història</a></li>                        
                </ul>
                <a data-toggle-class="is-active" data-toggle-class-not-this data-toggle-class-item="menu" class="c-header__close" href="#"> <img class="svg" src="{{'assets/images/icons/x.svg' | theme}}" /></a>
            </div>
            <a class="c-header__logo" href="#" class="">
                <img src="{{'assets/images/logofull.svg'|theme}}" class="svg fill-black w-[200px]"  />
            </a>
            <div data-toggle-class-item="menu" class="c-header__menu">
                <ul>
                    <li><a href="/habitacion">Vins</a></li>
                    <li><a href="/entorno">Serveis</a></li>
                    <li><a href="/servicios">Contacte</a></li>                        
                </ul>
            </div>
            <a data-toggle-class="is-active" data-toggle-class-not-this data-toggle-class-item="menu" class="c-header__burguer-menu" href="#"><img class="w-32 svg" src="{{'assets/images/icons/burguer.svg' | theme}}" /></a>
        </div>
    </div>
</div> 