<form class="py-28 text-24" action="POST" data-request="onSend" data-request-flash="">
    <div class="py-6">
        <label for="name">{{'Nom i Llinatges*'|_}} </label>
        <input class="w-full border-0 border-b-[1px] border-primary" type="text" name="name" id="name" placeholder="{{'Introdueix nom i Llinatges'|_}}">
    </div>
    <div class="py-6">
        <label for="email">{{'Adreça electronica*'|_}}</label>
        <input class="w-full border-0 border-b-[1px] border-primary" required="" type="text" id="email" name="email" placeholder="{{'Introdueix la teva adreça electronica*'|_}}">
    </div>
    <div class="py-6">
        <label for="phone">{{'Telefon*'|_}}</label>
        <input class="w-full border-0 border-b-[1px] border-primary" required="" type="text" name="phone" id="phone" placeholder="{{'Introdueix el teu numero de telefon*'|_}}">
    </div>
    <div class="py-6">
        <label for="text">{{'Estic interesat en'|_}}</label>
        <textarea class="w-full h-[150px] border-0 border-b-[1px] border-primary" name="text" id="text" placeholder="{{'Escriu el teu comentari o dubtes'|_}}"></textarea>
    </div>
    <div class="py-6">
        <input required="" type="checkbox"><a class="hover:text-primary transition-all" href="{{'avis-legal'|page}}">{{'Accepto la política de privadesa i protecció de dades'|_}}</a> </div>
    <button class="border border-primary px-16 py-8 hover:bg-primary hover:text-white transition-all" type="submit">{{'Enviar'|_}}</button>
</form>