body {
    margin: 0;
    padding: 0;
  }
  .bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;        
  }
  video {
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;    
    background-size: 3px 3px;
    z-index: 1;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
  }
  h1 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 27%;
    bottom: 0;
    left: 0%;
    right: 0;
    margin: auto;
    z-index: 3;        
    font-size: 24px !important;
  }
  .c-logo{
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0%;
    right: 0;
    z-index: 3;
    width: 300px;
    /* height: 186px;             */
    margin: auto;

  }
  .c-contacte{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 32%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    font-size: 24px;
  }
  .c-email:hover{
    font-weight: bold;
    transition: 0.4s ease all;
  }
  .c-phone:hover{
    font-weight: bold;
    transition: 0.4s ease all;
  }
  .c-redes{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;    
    display: flex;
    justify-content: center;
  }
  .c-redes__item{
    padding: 0 10px
  }
  .c-redes__item a svg{
    width: 40px;
    height: 40px;
    fill:#fff;
    transition:0.4s ease all
  }
  .c-redes__item a svg:hover{
    width: 45px;
    height: 45px;
    fill:#fff;
    transition:0.4s ease all
  }
  .bg-picture-wrap-mobile{
    display: none;
  }
  @media only screen and (max-width: 600px) {
    body{
        height: 100vh;
    }
    .bg-picture-wrap-mobile{
        display: inherit;
        position: relative;
        overflow: hidden;
        width: auto;         
        height: 100vh;
      }
      img{
        height: 100vh !important;
        min-width: fit-content !important;
        min-height: auto;
        z-index: 1;
      }
    .bg-video-wrap{
        display: none;
    }
    .c-logo{
        text-align: center;
        position: absolute;
        top: 10%;
        bottom: 0;
        left: 0%;
        right: 0;
        z-index: 3;
        width: 300px;
        /* height: 186px;             */
        margin: auto;
    
      }
      h1{
        top: 40%; 
      }
      .c-contacte{
        top: 45%;
      }
      .overlay {
        background-image: linear-gradient(45deg, rgba(0,0,0,.1) 50%, rgba(0,0,0,.2) 50%);
    }
    .c-redes{
      text-align: center;
      color: #fff;
      position: absolute;
      top: 60%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 3;    
      display: flex;
      justify-content: center;
    }
    .c-redes__item{
      padding: 0 10px
    }
    .c-redes__item a svg{
      width: 40px;
      height: 40px;
      fill:#fff;
      transition:0.4s ease all
    }
    .c-redes__item a svg:hover{
      width: 45px;
      height: 45px;
      fill:#fff;
      transition:0.4s ease all
    }
  }